<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    
    <title></title>
</head>
<body>
<div>
    
    @Html.ActionLink("На главную", "Index", "Home")

    <br />

    @RenderBody()

</div>
</body>
</html>