@model IEnumerable<PhoneMarket.Models.Phone>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListBooks</h2>
<table>
    <tbody>
        @{

            foreach (var phone in Model)
            {
                <tr>
                    <td>@phone.Name</td>
                    <td>@phone.Producer</td>
                    <td>@phone.Price</td>
                    <td><a href="/Home/Buy/@phone.Id">Купить</a></td>
                </tr>
            }
        }
    </tbody>
</table>

