@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Товары интернет-магазина PhoneMarket</h3>

<br />
<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var phone in ViewBag.Phones)
            {
                <tr>
                    <td>@phone.Name</td>
                    <td>@phone.Producer</td>
                    <td>@phone.Price</td>
                    <td><a href="/Home/Buy?id=@phone.Id">Купить</a></td>
                </tr>

            }
        }
    </tbody>
</table>
